
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.iws
out/

run/
logs/
crash-reports/
usercache.json
banned-*.json
ops.json
whitelist.json
server.properties

lattice/target/

.DS_Store
Thumbs.db
desktop.ini